.Quote-Box{
    background-color: white;
    height: 13rem;
    width: 50rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}